body{
    background-color:rgba(121, 121, 121, 0.116);
}
.aboutContent{
    width: 100vw;
    height: 100vh;
}
.mainContent{
    padding-left: 10%;
    padding-right: 10%;
    gap: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.aboutBottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutTop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
}
.texts{
    text-align: left;
}
.aboutTop h1{
    margin-top: 5%;
}
.aboutBottom img{
    width: 100px;
    height: 100px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.purple{
    color: purple;
    font-weight: bolder;
    font-style: oblique;
}
.aboutBottom h1{
    margin-top: 7%;
    margin-bottom: 5%;
}